<div id="foodListWrapper">
	<form role="form">
	  <div class="form-group">
		<input type="text" class="form-control" placeholder="Search here..."
			ng-model="searchStr">
	  </div>
	</form>
	<ul class="list-unstyled">
		<li class="food" ng-repeat="food in foods | filter:searchStr"
			style="background: white url('imgs/menu/A/{{food.imgUrl}}') no-repeat">
			<div class="food-details clearfix">
				<h3>{{food.name}}</h3>
				<p>{{food.price | currency:'Rs.'}}</p>
				<p>{{food.details}}</p>
				<button class="btn btn-info pull-right" ng-click="addToKart(food)">Add to Kart</button>
			</div>
		</li>
	</ul>
</div>
